/* CSS */

/* Snackbar */
.snackbar
{
  font-family: general;
  font-size: 1rem;
  font-weight: bold;
}

/* navigation bar */
/* .nav-header
{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: title;
  font-size: 60px;
}

.menu
{
  width: 40px;
  height: 40px;
  background-color: red;
} */
