/* CSS */

/* Snackbar */
.snackbar
{
  font-family: general;
  font-size: 1rem;
  font-weight: bold;
}

/* Blank space */
.blank-space
{
  width: 100%;
  height: 50px;
  /* background-color: red; */
}

/*Main content*/
.main
{
  /* padding: 20% 0px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /*background-color: gold;*/
}

/* Product's image */
.product-img
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 60vh;
  /*margin-top: 50%;*/
  /*position: fixed;*/
   /*background-color: red; */
}

/*Product's details*/
.product-details
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 50px 0px;
  /* background-color: red; */
}

/*Row containing product's information*/
.row
{
  display: flex;
  align-items: center;
  font-family: general;
  justify-content: space-between;
  width: 100%;
  font-size: 1.4rem;
  height: 40px;
  /* background-color: yellow; */
}

/* Icon container */
.icon-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 40px;
  /* background-color: red; */
}

/* Information text */
.info-text
{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 20px;
  box-sizing: border-box;
  height: 40px;
  width: 90%;
  /* background-color: green; */
}

/* Long text container */
.long-text-container
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  /* background-color: green; */
}

/* Long text row */
.long-text-row
{
  margin: 15px 0px;
  display: flex;
  padding-left: 1%;
  box-sizing: border-box;
  align-items: flex-start;
  font-family: general;
  justify-content: space-between;
  width: 100%;
  height: auto;
  overflow: hidden;
  /* background-color: purple; */
}

/* Icon column */
.icon-column
{
  width: 10%;
  min-height: 40px;
  height: auto;
  /* background-color: orange; */
}

/* Text's column */
.text-column
{
  width: 90%;
  min-height: 100px;
  height: auto;
  text-align: justify;
  padding-right: 35px;
  padding-left: 20px;
  font-size: 1.2rem;
  line-height: 30px;
  box-sizing: border-box;
  text-overflow: "-";
  /* background-color: brown; */
}

/*Product's name*/
.product-name
{
  font-weight: bold;
  letter-spacing: 2px;
  box-sizing: border-box;
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  font-family: general;
  justify-content: center;
  width: 80%;
  height: 80px;
  text-shadow: 1px 1px 1px #000;
  /*background-color: rgba(0,0,0,1);*/
}

/* Add to cart button */
.add-to-cart
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-left: 80vw;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.8);
  background-color: rgba(0,200,83,1);
  position: absolute;
}

.nav-header
{
  text-shadow: 1px 1px 1px #fff;
  background-color: transparent;
}


/*Input text*/
/* .input-text
{
  width: 85%;
  margin: 20px 0px;
} */
