/* CSS */

/* Google Material Design Icons */
@import "../font/iconfont/material-icons.css";

/* Fonts imports */
@font-face {
    font-family: title;
    src: url(../font/ibm_plex_sans__title/IBMPlexSans-Italic.ttf);
}

@font-face {
    font-family: general;
    src: url(../font/raleway__general/Raleway-Regular.ttf);
}
/* ************************************************************** */

/* Hamburger Menu */
.hamburger-container
{
  width: 100%;
  height: 100%;
  /*display: none;*/
  position: fixed;
  margin-left: -100%; 
  z-index: 999;
  background-color: rgba(0,0,0,0.7);
}
.items-menu
{
  width: 80%;
  height: 100%;
  float: left;
  background-color: #FFF;
}
.background-image
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  /*padding: 50px;*/
  /*box-sizing: border-box;*/
  width: 100%;
  height: 180px;
  background-image: url(https://images.unsplash.com/photo-1501492751416-51484c0d911f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f7c5f0e17e1ff085777c4d8f1d71923a&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb);
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.profile-image
{
  width: 70px;
  height: 70px;
  border-radius: 100px;
  margin: 25px;
}
.name-user
{
  width: 100%;
  height: 25px;
  font-family: general;
  letter-spacing: 5px;
  color: #fff;
  margin: 5px 0px;
  padding: 0px 15px;
  box-sizing: border-box;
  font-weight: bold;
  /*background-color: red; */
}
.email-user
{
  width: 100%;
  height: 25px;
  padding: 0px 15px;
  box-sizing: border-box;
  font-family: general;
  margin-bottom: 10px;  
  letter-spacing: 5px;
  color: #fff;
  /*background-color: brown; */
}
.items-container
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  /*padding: 80px 10px;*/
  /*box-sizing: border-box;*/
  font-family: general;
  background-color: #fff;
}
.item
{
  width: 85%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 15px;
  /*background-color: green;*/
}
.inline-block i
{
  margin-right: 5px;
}
.close-menu
{
  float: left;
  width: 20%;
  height: 100%;
}
/* *************************************************** */

/* Nav bar (header) */
.nav-header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 998;
  background-color: #2A2E37;

  /* Text */
  font-family: title;
}
.only-header
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #2A2E37;

  /* Text */
  font-size: 1.8rem;     
  font-family: title;
}
.header-title
{
   font-size: 1.8rem; 
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 80%;
   height: 100%; 
   /*background-color: red; */
}
.menu
{
  padding: 0px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60px;
  height: 100%;
  font-size: 1.8rem;
  /*background-color: green; */
}
.shop-cart
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 100%;
  /*background-color: yellow;*/
}
/* ***************************************** */

/* Snackbar */
.snackbar
{
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ********************** Text ******************** */]
*{font-size: 1em;}

.uppercase{text-transform: uppercase;}

.ellipsis{text-overflow: ellipsis;overflow: hidden;}

.bold{font-weight: bold;}

/* Font size */
.fs-10{font-size: 10px;}
.fs-12{font-size: 12px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-16{font-size: 16px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px;}
.fs-25{font-size: 25px;}
.fs-30{font-size: 30px;}
.fs-60{font-size: 60px;}
.fs-70{font-size: 70px;}
.fs-75{font-size: 75px;}
/* ------ */

/* ************************************************** */

/* ********************** Loading ******************** */
.loading
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #00C853;
  border-top: 5px solid #2A2E37;
  animation: spin 1s linear infinite;
  /*background-color: green;*/
}
@keyframes spin
{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
/* ************************************************** */

/* ********************** Divisor ******************** */
.divisor
{
  width: 80%;
  height: 1px;
  display: block;
  border-radius: 150px;
  margin: 10px auto;
  background-color: #BDBDBD;
}
/* ************************************************** */

/* ********************** Display ******************** */
.block{display: block;}
.hide{display: none;}
.inline-block{display: inline-block;}
/* ************************************************** */

/* ********************** List ******************** */
.list-style-none{list-style-type: none;margin:0px;padding:0px;}
/* ************************************************** */

/* ********************** Alignment ******************** */
.align-center{text-align: center;}
/* ************************************************** */

/* ********************** Button ******************** */
.button
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  padding: 10px;
  letter-spacing: 2px;
  font-family: title;
  border-radius: 5px;
}
/* ************************************************** */

/* ********************** Input ******************** */
input::placeholder
{
  font-family: general;
}

/*type[text]*/
.input-text
{ 
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  background-color: transparent;
  box-shadow: 0px 1px 1px -1px #000;
  border-bottom-color: #00C853;
  font-family: general;
}

/*type[radio]*/

.input-radio
{
}
/* ************************************************** */

/* ********************** Select  ******************** */
.combo-box
{
  font-family: general;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom-color: #00C853;
}
/* ************************************************** */

/* ********************** Colors ******************** */
/* Background */
.green-light{background-color: #00C853;}
.dark-blue{background-color: #2A2E37;}
.yellow-light{background-color: #FFFF00;}
/* ------- */

/* Font */
.green-light-txt{color: #00C853;}
.white-txt{color: #fff;}
.gray-txt{color: #757575;}
.black-txt{color: #000000;}
/* ------- */
/* ************************************************** */


/* General tags */
a
{
  text-decoration: none;
  color: inherit;
}
